<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.riverse.settlement-worker</string>

  <key>ProgramArguments</key>
  <array>
    <string>__NODE_PATH__</string>
    <string>--env-file=__WORKER_ENV_FILE__</string>
    <string>__BUNDLE_PATH__</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__STATE_DIR__</string>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>30</integer>
  <key>ExitTimeOut</key>
  <integer>30</integer>
  <key>ProcessType</key>
  <string>Background</string>

  <key>StandardOutPath</key>
  <string>__LOG_DIR__/stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/stderr.log</string>
</dict>
</plist>
